*.bgn
*.bit
*.bld
*.cmd_log
*.csv
*.drc
*.gise
*.html
iseconfig
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
_ngo
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.xise
xlnx_auto_0_xdb
*.xml
_xmsgs
*.xpi
*.xrpt
xst
*.xst
*.xwbt
